<nav>
    <div class="nav-title">
        {{::'All Contacts' | locale}}
    </div>
    <div class="nav-query">
        <input type="text"
            ng-model="query"
            placeholder="{{::'Search' | locale}}"
            ng-model-options="{ updateOn: 'default blur',
                                debounce: { 'default': 500, 'blur': 0 } }">
    </div>
    <div class="nav-entries">
        <ul>
            <li ng-repeat="(userId, contact) in contacts | search:query | orderBy:'id'">
                <a ng-href="#/contacts/{{userId}}">
                    {{contact.firstname}},&nbsp;{{contact.lastname}}
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="view-container" ng-view>
</div>
